@import '../../scss/global/colors';

#Feeder {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: .4rem;

    .title {
        text-transform: capitalize;
        margin-bottom: 1rem;
    }
}