@import '../../scss/global/colors';

form {
    width: 100%;
}

#Select {
    border: .1rem solid $dark-grey;
    padding: 1rem;
    color: $dark-grey;
    border-radius: .4rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.4rem;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../../img/icons/caret-down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 1rem;
}