@import '../../scss/global/colors';

#Header {
    height: 10rem;
    display: flex;
    align-items: center;
    padding: 15px;
    span {
        font-family: 'Myriad Pro Regular';
        color: $green;
    }
}