@import '../../scss/global/colors';

#Navbar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 24rem;
    background-color: $dark-grey;
    padding: 15px;
    border-right: 1px solid #292929;

    .baseline {
        display: flex;
        align-items: center;
        position: absolute;
        top: 5rem;
        left: 8rem;

        span {
            font-size: 1.1rem;
            font-weight: 100;
            font-family: 'Myriad Pro Regular';
            text-transform: capitalize;
        }

        .square {
            align-self: flex-end;
            background-color: $mid-grey;;
            margin: 0 .3rem;
            min-width: .4rem;
            min-height: .4rem;
            top: -.8rem;
            width: .4rem;
            height: .4rem;
            position: relative;
        }     
    }

    span {
        color: white;
        font-family: 'Myriad Pro';
        white-space: nowrap;
    }

   .logo-container {
       display: flex;
       align-items: center;
       margin-top: 5px;
       position: relative;

    .logo {
        top: -.1rem;
        position: relative;
        background-image: url('../../img/logo.svg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        width: 3.5rem;
        margin: 5px 5px 5px 25px;

        // &:before {
        //     font-size: 1rem;
        //     color: $green;
        //     background-color: white;
        //     border-radius: 36rem;
        //     padding: 0 5px;
        //     content: 'bêta';
        //     position: absolute;
        // }
    }

    .sub-title {
       span {
        position: relative;
        text-transform: capitalize;
        color: $green;
        font-size: 3rem;
        font-family: 'Myriad Pro';
        &:last-child {
            color: white;
            font-size: 3rem;
            font-family: 'Myriad Pro';
            text-transform: capitalize;

            &:after {
                content: ' ';
                background-color: $green;
                height: 8px;
                width: 8px;
                position: absolute;
                top: 2.1rem;
                right: -1.4rem;
                -webkit-animation:rescale 2s infinite;
                animation: rescale 2s infinite;
                @-webkit-keyframes rescale{
                    0% {transform:rotate(0deg);}
                    10% {transform:rotate(36deg);}
                    20% {transform:rotate(72deg);}
                    30% {transform:rotate(108deg);}
                    40% {transform:rotate(144deg);}
                    50% {transform:rotate(180deg);}
                    60% {transform:rotate(216deg);}
                    70% {transform:rotate(252deg);}
                    80% {transform:rotate(288deg);}
                    90% {transform:rotate(334deg);}
                    100% {transform:rotate(360deg);}
                    }               
                    @keyframes rescale{
                    0% {transform:rotate(0deg);}
                    10% {transform:rotate(36deg);}
                    20% {transform:rotate(72deg);}
                    30% {transform:rotate(108deg);}
                    40% {transform:rotate(144deg);}
                    50% {transform:rotate(180deg);}
                    60% {transform:rotate(216deg);}
                    70% {transform:rotate(252deg);}
                    80% {transform:rotate(288deg);}
                    90% {transform:rotate(334deg);}
                    100% {transform:rotate(360deg);}
                    }
                }
            }   
       }
    }
   }
}
