@import '../../scss/global/colors';
@import '../../scss/global/fonts';

#Navbar {
    display: flex;
    flex-direction: column;
    width: 24rem;
    background-color: $dark-grey;
    padding: 15px;

    span {
        color: white;
        font-family: 'Myriad Pro';
        white-space: nowrap;

    }
}