$green: #6bce19;
$light-green: white;
$dark-green: white;

$red: #cc1e20;
$light-red: white;
$dark-red: white;

$blue: #0f9ed6;
$light-blue: white;
$dark-blue: white;

$black: #111111;
$light-black: #1d1d1d;
$dark-black: #000;

$grey: #bebebe;
$light-grey: #e3e6eb;
$mid-grey: #4a4a4a;
$dark-grey: #1f1f1f;