@mixin font-face($font-family, $url) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$url}.woff') format('woff'),
		     url('#{$url}.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}
}