@import '../../scss/global/colors';

#History {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 .5rem;
    border-radius: .3rem;
    overflow: hidden;

    .empty {
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        justify-content: center;
        background-color: $light-grey;
        span {
            color: #989898;
            font-size: 1.4rem;
        }
    }

    .line {
        display: flex;
        padding: .5rem 1.5rem .5rem 1rem;
        align-items: center;
        justify-content: space-between;
        max-height: 6.5rem;

        .daytime {
            font-weight: bold;
            color: black;
        }
       
        span {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            color: $mid-grey;    
            text-transform: capitalize; 
            margin: .4rem 0;
        }
        
        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            min-width: 8rem;
        }

        .middle {
            display: flex;
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .date {
            font-weight: bold;
            margin-top: 0;
            font-size: 1.3rem;
            color: #737373;
        }

        .blue {
            background-color: #19afce;
            border-radius: 50rem;
            font-size: 1.3rem;
            color: white;
            padding: .2rem 1.8rem;
            font-weight: bold;
            white-space: nowrap;
        }
        .orange {
            background-color: #ce8419;
            border-radius: 50rem;
            font-size: 1.3rem;
            color: white;
            padding: .2rem 1.8rem;
            font-weight: bold;
            white-space: nowrap;
        }
        .purple {
            background-color: #8619ce;
            border-radius: 50rem;
            font-size: 1.3rem;
            color: white;
            padding: .2rem 1.2rem;
            font-weight: bold;
            white-space: nowrap;
        }

        &:nth-child(even) {
            background-color: white;
        }
        &:nth-child(odd) {
            background-color: $light-grey;
        }
    }
}