@import '../../scss/global/colors';

#History {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 .5rem;
    border-radius: .3rem;
    overflow: hidden;

    .empty {
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        justify-content: center;
        background-color: $light-grey;
        span {
            color: #989898;
            font-size: 1.4rem;
        }
    }

    .line {
        display: flex;
        padding: .2rem .5rem;
        align-items: center;
        font-size: 1.6rem;
        color: $mid-grey;    
        text-transform: capitalize;            

        &:nth-child(even) {
            background-color: $grey;
        }
        &:nth-child(odd) {
            background-color: $light-grey;
        }
    }
}