@import '../../scss/global/colors';

#History {
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem 0 .5rem;
    border-radius: .3rem;
    overflow: hidden;

    .empty {
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        justify-content: center;
        background-color: $light-grey;
        span {
            color: #989898;
            font-size: 1.4rem;
        }
    }

    .line {
        display: flex;
        padding: .5rem 1rem;
        align-items: center;
       
        span {
            font-size: 1.4rem;
            color: $mid-grey;    
            text-transform: capitalize; 
            margin: .5rem;
        }   

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
        }
        
        .date {
            font-weight: bold;
        }

        .blue {
            background-color: #19afce;
            border-radius: 50rem;
            font-size: 1.3rem;
            color: white;
            padding: .2rem 1.8rem;
            font-weight: bold;
        }
        .orange {
            background-color: #ce8419;
            border-radius: 50rem;
            font-size: 1.3rem;
            color: white;
            padding: .2rem 1.8rem;
            font-weight: bold;
        }
        .purple {
            background-color: #8619ce;
            border-radius: 50rem;
            font-size: 1.3rem;
            color: white;
            padding: .2rem 1.2rem;
            font-weight: bold;
        }

        &:nth-child(even) {
            background-color: white;
        }
        &:nth-child(odd) {
            background-color: $light-grey;
        }
    }
}