$green: green;
$light-green: green;
$dark-green: green;

$red: green;
$light-red: green;
$dark-red: green;

$blue: green;
$light-blue: green;
$dark-blue: green;

$black: green;
$light-black: green;
$dark-black: green;

$grey: green;
$light-grey: green;
$dark-grey: green;