@import '../../node_modules/bulma/bulma.sass';
@import 'global/mixins';
@import 'global/colors';
@import 'global/fonts';

html {
    font-size: 62.5%;
    height: 100vh;
}

p, span, a, input, button, div, .columns {
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: .02rem;
    color: $grey;
}

h6 {
    font-weight: bold;
    font-size: 3.2rem!important;
    color: $black;
} 
h5 {
    font-size: 3.6rem!important;
    font-weight: bold;
    color: $black;
} 
h4 {
    font-weight: bold;
    font-size: 4rem!important;
    color: $black;
} 
h3 {
    font-weight: bold;
    font-size: 4.4rem!important;
    color: $black;
} 
h2 {
    font-weight: bold;
    font-size: 4.8rem!important;
    color: $black;
} 
h1 {
    font-size: 5.2rem!important;
    font-weight: bold;
    color: $black;
}

// .App {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
// }