@import '../../node_modules/bulma/bulma.sass';
@import 'global/mixins';
@import 'global/colors';
@import 'global/fonts';
@import 'global/icons';

@import 'global/animate';


html {
    font-size: 62.5%;
    height: 100vh;
}

*:focus {outline:none !important}

p, span, a, input, button, div, .columns {
    font-size: 2.4rem;
    font-family: 'Myriad Pro Regular';
    line-height: 2.4rem;
    letter-spacing: .02rem;
    color: $grey;
}

h6 {
    font-weight: bold;
    font-size: 3.2rem!important;
    color: $black;
} 
h5 {
    font-size: 3.6rem!important;
    font-weight: bold;
    color: $black;
} 
h4 {
    font-weight: bold;
    font-size: 4rem!important;
    color: $black;
} 
h3 {
    font-weight: bold;
    font-size: 4.4rem!important;
    color: $black;
} 
h2 {
    font-weight: bold;
    font-size: 4.8rem!important;
    color: $black;
} 
h1 {
    font-size: 5.2rem!important;
    font-weight: bold;
    color: $black;
}

button {
    color: white;
    background-color: $green;
    border-radius: .4rem;
    padding: .8rem .5rem;
    transition: all .2s;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.4rem;

    &:hover {
        background-color: $dark-green;
        transition: all .2s;
    }
}

.red {
    background-color: $red;
    &:hover {
        background-color: $dark-red;
    }
}

.grouped-button {
    min-width: 6rem;
    button {
        background-color: $green;
        padding: .5rem 1.3rem;
        &:hover {
            background-color: $dark-green;
        }
        &:first-child {
            border-right: .1rem solid #75e41a;
            border-radius: .5rem 0 0 .5rem;
            &:hover {
                border-color: #71d81b;
            }
        }
        &:last-child {
            border-left: .1rem solid #53a70d;
            border-radius: 0 .5rem .5rem 0;    
            &:hover {
                border-color: #53a70d;
            }        
        }
    }
}