@import '../../node_modules/bulma/bulma.sass';
@import 'mixins';

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    min-height: 100%;
    background-color: white;
}

p, span, a, input, button, div, .columns {
    font-size: 2.4rem;
}

h6 {
    font-weight: bold;
    font-size: 3.2rem!important;
} 
h5 {
    font-size: 3.6rem!important;
    font-weight: bold;
} 
h4 {
    font-weight: bold;
    font-size: 4rem!important;
} 
h3 {
    font-weight: bold;
    font-size: 4.4rem!important;
} 
h2 {
    font-weight: bold;
    font-size: 4.8rem!important;
} 
h1 {
    font-size: 5.2rem!important;
}

