@import '../../scss/global/colors';

#Radios {
    margin: 1rem 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .radio + .radio {
        margin: 0;
    }
    
    & input[type=radio] {
        display: none;
        // if checkbox is checked
        &:checked + label {
          color: $green;
          -webkit-backface-visibility: visible !important;
          backface-visibility: visible !important;
          -webkit-animation-name: flipInY;
          animation-name: flipInY;
          transition: all .2s;

            &:before {
                background-color: $green;
                border-color: $green;
                -webkit-backface-visibility: visible !important;
                backface-visibility: visible !important;
                -webkit-animation-name: flipInY;
                animation-name: flipInY;
                transition: all .2s;
            }            
        }   
      }

      & label {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        align-items: center;
        margin: .5rem;
        color: black;
        font-size: 1.6rem;
        cursor: pointer;

        &:hover {
          &:before {
            transition: all .2s;
            border: .1rem solid $green;
            background-color: $green;
          }
        }   
        
        &:before {
          content: '';
          width: 1.7rem;
          height: 1.7rem;
          margin-left: 1rem;
          border: .1rem solid $grey;
          background-color: $grey;
          border-radius: .4rem;
          transition: all .2s;
        }
      }
}